/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Minimal Toastr Size Reduction */
.toast-container .ngx-toastr {
    width: 250px !important;
    /* Reduced width */
    font-size: 0.85rem !important;
    /* Slightly smaller font */
    padding: 10px 10px 10px 50px !important;
    /* Extra left padding for icon */
}